canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  font-size: 45px;
  font-weight: bold;
}


#restart {
  background-color: green;
  border: 2;
  color: #fefbef;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 2;
  margin-top: 1.5rem;
  width: 20%; /* Large, mobile-friendly touch target */
  padding: 20px; /* Large, mobile-friendly touch target */

  margin: 0;
  position: absolute;
  -ms-transform: translateX(130%);
  transform: translateX(130%);

 
}

#restart:hover {
 
 border-color: black;
 border-width: 3px;
}

#gameMode {
  background-color: orange;
  border: 2;
  color: #fefbef;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 2;
  margin-top: 1.5rem;
  width: 20%; /* Large, mobile-friendly touch target */
  padding: 20px; /* Large, mobile-friendly touch target */

  margin: 0;
  position: absolute;
  -ms-transform: translateX(270%);
  transform: translateX(270%);

 
}


#gameMode:hover {
 
  border-color: black;
  border-width: 3px;
}